# Archivos de Lean
/.lake
.lake/
**/.lake/

# Archivos HTML de verso
**/_out/

# Archivos generados por LaTeX
*.aux
*.bbl
*.blg
*.fls
*.log
*.run.xml
*.fdb_latexmk
*.synctex.gz
*.toc
*.synctex(busy)

# Archivos PDF generados
*.pdf
!Memoria/main.pdf

# Archivos de backup
*~

# Hoja en sucio
UrysohnsLemma/hoja_en_sucio.lean
UrysohnsLemma/ejemplo.lean
UrysohnsLemma/lean_get_infos.py
UrysohnsLemma/resumen.md

# Libros
Memoria/sources/

# Anotaciones
*.xopp
